*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    font-family: 'Montserrat', sans-serif;
}
.all{
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}
.general_flex{
    display: flex;
    justify-content: space-between;
}
.menu{
    width: 310px;
    background-color: #fcfcfc;
    padding: 50px 40px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu_flex{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 100px;
}
.flex_menu{
    display: flex;
    flex-direction: column;

}
.flex_menu_position{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.menu_title{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 15px;
}
.title{
    color: black;
    font-size: 20px;
    font-family: Inter, sans-serif;
    font-weight: 300;
    text-decoration: none;
}
.logo{
    text-decoration: none;
    text-align: left;
    color: rgba(158, 184, 72, 1);
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
}
.copyright{
    color: black;
    font-size: 16px;
    font-family: Inter, sans-serif;
    font-weight: 400;
}
.main_1{
    width: 1100px;
    padding: 50px 40px 20px 40px;
    max-height: 100vh;
    overflow: auto;
}
.main_title{
    color: black;
    font-size: 40px;
    font-family: Inter, sans-serif;
    font-weight: 900;
}

.open_pop_up {
    width: 100%;
    height: 100%;
    border: 2px solid rgba(158, 184, 72, .8);
    background-color: white;
    position: relative;
    cursor: pointer;
    font-size: 60px;
    color: rgba(158, 184, 72, .8);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.plus-sign {
    font-size: 72px;
    font-weight: bold;
    line-height: 1;
}
.pop_up{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(136,136,136, .8);
    z-index: 2;
}
.pop_up.active{
    display: block;
}
.pop_up_container{
    display: flex;
    width: 100%;
    height: 100%;
}
.pop_up_body{
    margin: auto;
    position: relative;
    border-radius: 24px;
    background-color: white;
    border: 2px solid rgba(158, 184, 72, .8);
    padding: 30px 30px;
    width: 550px;
}

.pop_up_close{
    position: absolute;
    top: 15px;
    cursor: pointer;
    width: 30px;
    right: 20px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.receipe_name, .cal{
    font-family: 'Inter', sans-serif;
}
h2 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}
 h4 {
    font-size: 16px;
    font-weight: normal;
     margin-top: 15px;
}
input, textarea, select {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #ccc;
    border-radius: 12px;
    font-size: 16px;
    margin-top: 15px;
    font-family: Inter, sans-serif;
}

.mealTypes {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 5px;
    margin-top: 10px;
}

.mealTypes label {
    display: flex;
    align-items: center;
    gap: 8px;
    border: 1px solid #ccc;
    padding: 10px 12px;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
label input{
    margin-top: 0;
}
#recipeForm{
    max-height: calc(100vh - 175px);
    overflow: auto;
    padding-right: 10px;
}
#recipeForm textarea {
    resize: vertical;
    min-height: 60px;
}

.ingredient_row {
    display: flex;
    gap: 10px;
    align-items: center;
}

#addIngredient {
    background-color: #8BAA36;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}
.kbju {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 5px;
}

#recipeForm button[type="submit"] {
    width: 100%;
    padding: 14px;
    font-size: 18px;
    background-color: #141414;
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    margin-top: 20px;
}

#recipeForm button[type="submit"]:hover {
    background-color: #000;
}

.main_2 {
    width: 470px;
    background-color: #fcfcfc;
    padding: 50px 20px;
}

/* PROFILE MODAL */

.client_wrapper {
    position: relative;
}

.client {
    min-height: 47px;
    cursor: pointer;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-left: auto;
    gap: 20px;
    width: fit-content;
    border-radius: 24px;
    border: 1px solid rgb(245, 245, 245);
    padding: 11px 25px 10px 40px;
    position: relative;
    transition: border .2s ease;
}

.client:hover {
    border: 1px solid #e8e8e8;
}

.client.active {
    border: 1px solid #e8e8e8;
}

.client img {
    transition: transform .2s ease;
}

.client.active img {
    transform: rotate(180deg);
}

.name {
    margin-right: 10px;
}

.modal {
    position: absolute;
    top: 115%;
    right: 0;
    background: #fff;
    border: 1px solid #e8e8e8;
    border-radius: 24px;
    display: none;
    z-index: 10;
}

.modal.active {
    display: block;
}

.modal-menu {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.modal-item {
    border-radius: 24px;
    padding: 14px 30px;
    cursor: pointer;
    transition: background 0.2s ease;
    font-size: 18px;
    font-family: Inter, sans-serif;
    font-weight: 300;
    list-style-type: none;
    margin-top: 0;
}

.modal-item:hover {
    background: #f5f5f5;
}

.name {
    font-size: 20px;
    font-family: Inter, sans-serif;
    font-weight: 500;
}
.new_menu{
    display: none;
}

/* EDIT MODAL */

#edit-pop-up-body {
    max-height: 95%;
    overflow: hidden;
}

#editRecipeForm {
    max-height: calc(100vh - 175px);
    overflow: auto;
    padding-right: 10px;
}

#editAddIngredient {
    background-color: #8BAA36;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

#edit-recipe-description {
    height: 200px;
}

#editRecipeForm button[type="submit"] {
    width: 100%;
    padding: 14px;
    font-size: 18px;
    background-color: #141414;
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    margin-top: 20px;
}

/* scroll bar */

::-webkit-scrollbar {
    width: 6px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 12px;
}

::-webkit-scrollbar-thumb {
    background: #E6E6E6;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #dadada;
}

/* additional classes */

.hidden {
    display: none;
}

.confirm_button_active {
    background-color: #9EB848;
}

.hidden_edit_button {
    visibility: hidden;
    pointer-events: none;
}
.getout_button{
    display: none;
}


.receipes {
    padding-right: 10px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    justify-content: start;
    margin-top: 40px;
    overflow: auto;
    height: calc(100vh - 170px);
}
.receipe {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(244, 244, 244, 1) ;
    border-radius: 12px;
    text-decoration: none;
    gap: 15px;
    cursor: pointer;
}

.receipe:hover .img_dish {
    transform: scale(1.05);
}
.receipe_name{
    font-size: 20px;
    font-weight: 400;
    color: black;
    padding: 0 10px;
}
.receipe_cal{
    display: flex;
    justify-content: left;
    gap: 8px ;
    padding: 0 10px 20px;
}
.cal{
    font-size: 16px;
    font-weight: 400;
    color: black;
}

.img_dish_wrapper {
    width: 100%;
    height: 170px;
    border-radius: 12px;
    overflow: hidden;
}

.img_dish {
    background-color: #ECF8D5;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    object-fit: cover;
    transition: transform .2s ease;
}

.TableWrapper {
    max-height: calc(100vh - 250px);
    overflow: auto;
    margin-top: 60px;
}

table {
    border-collapse: collapse;
    width: 60%;
}
th, td {
    border: 1px solid #aaa;
    padding: 8px 12px;
    text-align: left;
    font-size: 20px;
}
th {
    background-color: #fcfcfc;
}

@media (max-width: 1600px){
    .main_2{
        display: none;
    }
    .getout_button{
        display: block;
    }
    .title_adaptive{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .general_flex{
        justify-content: left;
        gap: 80px;
    }
}
@media (max-width: 1400px) {
    .general_flex{
        gap: 0;
    }
    .main_1{
        width: 100%;
        max-height: calc(100vh - 80px);
    }
    .img_menu{
        display: none;
    }
}
@media (max-width: 1150px){
    .menu{
        display: none;
    }
    .main_1{
        width: 100vw;
    }
    .profile_all{
        max-height: calc(100vh - 70px);
        overflow: hidden;
    }
    .position_menu {
        width: 100%;
        position: fixed;
        left: 0;
        bottom: 0;
    }
    .general_flex{
        justify-content: space-evenly;
    }
    .new_menu{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 20px;
        bottom: 0;
        background-color: white;
    }
}
@media (max-width: 950px) {
    .receipe{
           gap: 5px;
        }
    .img_menu{
           display: none;
    }
    .main_title{
           font-size: 32px;
    }
    .receipe_menu{
           margin-top: 30px;
    }
    .receipe_name, .cal{
           font-size: 24px;
    }
}

@media (max-width: 550px) {
    .pop_up_body{
        padding: 30px 15px;
        width: 350px;
    }

    .pop_up_close{
        width: 20px;
        right: 10px;
    }

    h2 {
        font-size: 20px;
        margin-top: 20px;
    }
    h4 {
        font-size: 12px;
        margin-top: 10px;
    }
    input, textarea, select {
        width: 100%;
        padding: 12px 15px;
        border: 1px solid #ccc;
        border-radius: 12px;
        font-size: 12px;
        margin-top: 10px;
        font-family: Inter, sans-serif;
    }

    .mealTypes {
        grid-template-columns: repeat(2, 150px);
        gap: 5px;
        margin-top: 10px;

    }

    .mealTypes label {
        gap: 8px;
        font-family: Inter, sans-serif;
        font-size: 12px;

    }
    label input{
        margin-top: 0;
        font-size: 12px;
        width: 20px;
    }

    #recipeForm textarea {
        resize: vertical;
        min-height: 40px;
    }

    .ingredient_row {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    #addIngredient, #editAddIngredient {
        background-color: #8BAA36;
        color: white;
        padding: 10px 12px;
        border: none;
        border-radius: 12px;
        font-size: 12px;
        cursor: pointer;
        margin-top: 10px;
    }
    .kbju {
        display: grid;
        grid-template-columns: repeat(4, auto);
        gap: 5px;
    }

    #recipeForm button[type="submit"] {
        width: 100%;
        padding: 14px;
        font-size: 16px;
        background-color: #141414;
        color: white;
        border: none;
        border-radius: 12px;
        cursor: pointer;
        margin-top: 20px;
    }
    .img_menu{
        width: 20px;
        }
    .receipe{
        gap: 10px;
    }
    .new_menu img{
        width: 26px;
    }
}
@media (max-width: 500px) {
    .main_1 {
        width: 100%;
        padding: 40px 30px 0;
    }

    .main_title {
        font-size: 20px;
    }

    .client {
        gap: 10px;
        padding: 6px 15px 5px 20px;
    }

    .client img {
        width: 10px;
    }

    .name {
        font-size: 16px;
    }

    .edit_button_wrapper {
        width: 30px;
        height: 30px;
        border-radius: 10px;
    }
    .edit_button_wrapper img {
        width: 15px;
    }

    .open_pop_up {
        width: 100%;
        height: 100%;
        margin-top: 0px;
    }
    .plus-sign {
        font-size: 40px;
    }
    .receipes{
        grid-template-columns: repeat(2, 160px);
        justify-content: center;
        padding-right: 3px;
        gap: 20px;
        height: calc(100vh - 210px);
    }
    ::-webkit-scrollbar {
        width: 3px;
        height: 5px;
    }
    .modal-item{
        font-size: 16px;
        padding: 10px 20px;
    }
    .receipe_name, .cal{
        font-size: 16px;
    }
    .img_dish_wrapper{
        height: 110px;
    }
    .TableWrapper{
            margin-top: 30px;
    }
    th, td{
            font-size: 16px;
        }
}
@media (max-width: 400px) {
    .receipes {
        grid-template-columns: repeat(2, 140px);
        height: calc(100vh - 210px);
    }
    .receipe_name{
        font-size: 16px;
    }
    .receipe_cal img{
         height: 16px;
    }
    .receipe_cal{
         padding: 0 10px 10px;
    }
    .cal{
         font-size: 16px;
    }
    .name{
         font-size: 12px;
         margin-right: 3px;
    }
    .client{
         gap: 5px;
         padding: 3px 10px 3px 20px;
    }
    .receipe_menu{
         margin-top: 10px;
    }
    .img_menu{
         width: 17px;
    }
}
