*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    font-family: 'Montserrat', sans-serif;
}
.all{
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}
.general_flex{
    display: flex;
    justify-content: space-between;
}
.menu{
    width: 310px;
    background-color: #fcfcfc;
    padding: 50px 40px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu_flex{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 100px;
}
.flex_menu{
    display: flex;
    flex-direction: column;

}
.flex_menu_position{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.menu_title{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 15px;
}
.title{
    color: black;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    text-decoration: none;
}
.logo {
    text-decoration: none;
    text-align: left;
    color: rgba(158, 184, 72, 1);
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
}
.copyright{
    color: black;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}
.main_1{
    max-height: 100vh;
    width: 1100px;
    padding: 50px 40px 10px 40px;
}
.main_title{
    color: black;
    font-size: 40px;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
}
.articles{
    padding-right: 10px;
    margin-top: 70px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    gap: 40px;
    overflow: auto;
}
.article {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(230, 230, 230, 1) ;
    border-radius: 24px;
    padding: 30px 40px;
    gap: 10px;
}
.article_title{
    color: black;
    font-size: 26px;
    font-weight: 600;
}
.article_text{
    color: black;
    font-size: 26px;
    font-weight: 400;
}
.article_button{
    text-decoration: none;
    color: rgba(183, 197, 136, 1);
    font-size: 26px;
    font-weight: 600;
}
.main_2{
    flex-shrink: 0;
    flex-grow: 1;
    max-width: 400px;
    background-color: #fcfcfc;
    padding: 50px 20px;
    height: 100vh;
}
/* PROFILE MODAL */

.client_wrapper {
    position: relative;
}

.client {
    min-height: 47px;
    cursor: pointer;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-left: auto;
    gap: 20px;
    width: fit-content;
    border-radius: 24px;
    border: 1px solid rgb(245, 245, 245);
    padding: 11px 25px 10px 40px;
    position: relative;
    transition: border .2s ease;
}

.client:hover {
    border: 1px solid #e8e8e8;
}

.client.active {
    border: 1px solid #e8e8e8;
}

.client img {
    transition: transform .2s ease;
}

.client.active img {
    transform: rotate(180deg);
}

.name {
    margin-right: 10px;
}

.modal {
    position: absolute;
    top: 115%;
    right: 0;
    background: #fff;
    border: 1px solid #e8e8e8;
    border-radius: 24px;
    display: none;
    z-index: 10;
}

.modal.active {
    display: block;
}

.modal-menu {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.modal-item {
    border-radius: 24px;
    padding: 14px 30px;
    cursor: pointer;
    transition: background 0.2s ease;
    font-size: 18px;
    font-family: Inter, sans-serif;
    font-weight: 300;
    list-style-type: none;
    margin-top: 0;
}

.modal-item:hover {
    background: #f5f5f5;
}

.name {
    font-size: 20px;
    font-family: Inter, sans-serif;
    font-weight: 500;
}
.article_text_new{
    color: black;
    font-size: 24px;
    font-weight: 200;
    margin-top: 50px;
}
.line{
    height: 2px;
    background-color: rgba(230, 230, 230, 1);
    margin-top: 20px;
}
.green_title{
    margin-top: 40px;
    color: rgba(158, 184, 72, 1);
    font-size: 28px;
    font-weight: 600;
}
.text{
    font-size: 24px;
    font-weight: 400;
    margin-top: 10px;
}
.article_details{
    padding-right: 15px;
    overflow: scroll;
    height: 80vh;
    margin-top: 20px;
}
li{
    list-style-type: disc;
    line-height: 1.5;
    margin-top: 10px;
}
ul {
  font-size: 1.5rem;
  padding-left: 35px;
}
.text span{
    color:rgba(158, 184, 72, 1) ;

}
.text_green{
    font-size: 24px;
    color:rgba(158, 184, 72, 1) ;
    font-weight: 400;
    margin-top: 10px;
}
.new_menu{
    display: none;
}
.getout_button{
    display: none;
}
@media (max-width: 1600px){
    .main_2{
        display: none;
    }
    .getout_button{
        display: block;
    }
    .title_adaptive{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .general_flex{
        justify-content: left;
        gap: 80px;
    }
}
@media (max-width: 1300px){
    .main_1{
        width: 900px;
    }
    .general_flex{
        gap: 40px;
    }
}
@media (max-width: 1150px){
    .menu{
        display: none;
    }
    .main_1{
        width: 100vw;
    }
    .new_menu{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 20px;
        bottom: 0;
    }
    .position_menu {
        width: 100%;
        position: fixed;
        left: 0;
        bottom: 0;
    }
    .articles {
        gap: 20px;
        overflow: auto;
        max-height: calc(100vh - 250px);
    }
}
@media (max-width: 950px) {
    .main_title {
        font-size: 32px;
    }
    .articles{
        margin-top: 20px;
    }
}

@media (max-width: 500px){
    .main_1{
        width: 100%;
        padding: 40px 30px 0;
    }
    .main_title{
        font-size: 20px;
    }
    .client{
        gap: 10px;
        padding: 6px 15px 5px 20px;
    }
    .client img{
        width: 10px;
    }
    .name{
        font-size: 16px;
    }
    .articles{
        gap: 20px;
        overflow: auto;
        margin-top: 20px;
        max-height: calc(100vh - 70px);
    }
    .article_title{
        color: black;
        font-size: 16px;
        font-weight: 600;
    }
    .article{
        padding: 15px 20px;
        gap: 5px;
    }
    .article_text{
        font-size: 16px;
    }
    .article_button{
        font-size: 16px;
    }
    .text{
        font-size: 16px;
    }
    .text_green{
        font-size: 16px;
    }
    .article_text_new{
        font-size: 16px;
        margin-top: 5px;
    }
    .green_title{
        font-size: 20px;
        margin-top: 20px;
    }
    li{
        font-size: 16px;
    }
}
@media (max-width: 400px){
    .articles{
        max-height: calc(100vh - 65px);
        gap: 10px;
    }

    img{
        width: 25px;
    }
}


/* scroll bar */

::-webkit-scrollbar {
    width: 6px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 12px;
}

::-webkit-scrollbar-thumb {
    background: #E6E6E6;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #dadada;
}