*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    font-family: 'Montserrat', sans-serif;
}
.all{
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}
.general_flex{
    display: flex;
    justify-content: space-between;
}
.menu{
    width: 310px;
    background-color: #fcfcfc;
    padding: 50px 40px;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu_flex{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 100px;
}
.flex_menu{
    display: flex;
    flex-direction: column;

}
.flex_menu_position{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.menu_title{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 15px;
}
.title{
    color: black;
    font-size: 20px;
    font-family: Inter, sans-serif;
    font-weight: 300;
    text-decoration: none;
}
.logo{
    text-decoration: none;
    text-align: left;
    color: rgba(158, 184, 72, 1);
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
}
.copyright{
    color: black;
    font-size: 16px;
    font-family: Inter, sans-serif;
    font-weight: 400;
}
.main_1{
    max-height: 97dvh;
    width: 900px;
    padding: 50px 20px;
}
.main_title{
    color: black;
    font-size: 40px;
    font-family: Inter, sans-serif;
    font-weight: 900;
}
.main_goal{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 30px;
    margin-bottom: 5px;
}
.goal_text{
    color: black;
    font-size: 24px;
    font-family: Inter, sans-serif;
    font-weight: 400;
}
.goal_text span{
    color:  rgba(158, 184, 72, 1);
    font-size: 24px;
    font-family: Inter, sans-serif;
    font-weight: 600;
}
.main_2 {
    width: 470px;
    background-color: #fcfcfc;
    padding: 50px 20px;
}
.dish{
    cursor: pointer;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 30px;
    gap: 30px;
    max-width: 865px;
    border-radius: 24px;
    background-color: rgba(236, 248, 213, 1);
}

.loadingBlock {
    display: flex;
    justify-content: left;
    height: 150px;
    align-items: center;
    margin-top: 30px;
    gap: 30px;
    max-width: 865px;
    border-radius: 24px;
    background-color: rgba(236, 248, 213, 1);
    position: relative;
    overflow: hidden;
}

.loadingBlock::before {
    content: "";
    position: absolute;
    top: 0;
    left: -200px;
    height: 100%;
    width: 500px;
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.4) 50%,
        rgba(255, 255, 255, 0) 100%
    );
    animation: shimmer 1.6s infinite;
}

@keyframes shimmer {
    100% {
        transform: translateX(100%);
    }
}



.dish:hover img {
    transform: scale(1.05);
}

.dish_info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 121px;
    justify-content: space-between;
    padding-right: 10px;
}

.dish_image_container {
    min-width: 308px;
    width: 308px;
    height: 151px;
    overflow: hidden;
    border-radius: 24px;
}

.dish_image {
    background-color: #B7C588;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 24px;
    transition: transform .2s ease;
}

.meal {
    color:  rgba(158, 184, 72, 1);
    font-size: 20px;
    font-family: Inter, sans-serif;
    font-weight: 600;
}
.dish_name{
    font-size: 24px;
    font-weight: 600;
}
.callory_dish{
    font-size: 20px;
    font-family: Inter, sans-serif;
    font-weight: 400;
}

.recipes-container {
    overflow: auto;
    height: calc(100dvh - 200px);
    padding-right: 10px;
}

/* PROFILE MODAL */


.client_wrapper {
    position: relative;
}

.client {
    min-height: 47px;
    cursor: pointer;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-left: auto;
    gap: 20px;
    width: fit-content;
    border-radius: 24px;
    border: 1px solid rgb(245, 245, 245);
    padding: 11px 25px 10px 40px;
    position: relative;
    transition: border .2s ease;
}

.client:hover {
    border: 1px solid #e8e8e8;
}

.client.active {
    border: 1px solid #e8e8e8;
}

.client img {
    transition: transform .2s ease;
}

.client.active img {
    transform: rotate(180deg);
}

.name {
    margin-right: 10px;
}

.modal {
    position: absolute;
    top: 115%;
    right: 0;
    background: #fff;
    border: 1px solid #e8e8e8;
    border-radius: 24px;
    display: none;
    z-index: 10;
}

.modal.active {
    display: block;
}

.modal-menu {
    list-style: none;
    margin: 0;
}

.modal-item {
    border-radius: 24px;
    padding: 14px 30px;
    cursor: pointer;
    transition: background 0.2s ease;
    font-size: 18px;
    font-family: Inter, sans-serif;
    font-weight: 300;
}

.disabledItem {
    display: none;
}

.modal-item:hover {
    background: #f5f5f5;
}

.name {
    font-size: 20px;
    font-family: Inter, sans-serif;
    font-weight: 500;
}

.look-calendar {
    width: 426px;
    border-radius: 24px;
    border:1px solid rgb(245, 245, 245);
    padding: 20px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#calendar {
    width:390px;
    height: 330px;
    table-layout: fixed;
    line-height: 47px;
    font-size: 20px;
    text-align: center;
    border-spacing: 7px;
  }

#calendar tbody td {
    cursor: pointer;
}

#calendar tr.dn td {
    font-size: 15px;
  }

#calendar thead tr:last-child {
    font-size: small;
    color: #555555;
  }

#calendar thead tr:nth-child(1) td:nth-child(2) {
    color: #323232;
}

#calendar thead tr:nth-child(1) td:nth-child(1):hover,
#calendar thead tr:nth-child(1) td:nth-child(3):hover {
    cursor: pointer;
}

#calendar tbody td {
    color: rgba(24, 23, 40, 1);
  }

#calendar tbody td:nth-child(n+6),
#calendar .holiday {
    color: rgba(24, 23, 40, 1);
}

#calendar tbody td.today {
    background-color: rgba(158, 184, 72, 1);
    width: 45px;
    border-radius: 12px;
    color: #fff;
}
.getout_button{
    display: none;
}
.status-message {
    font-size: 18px;
    text-align: center;
    padding: 20px;
    color: #555;
}
.hidden {
    display: none;
}
.position_menu{
    display: none;
}
#calendarToggle{
    display: none;
}

/* weight alert */

.weight-alert-wrapper {
    position: absolute;
    display: flex;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
    font-family: Inter, sans-serif;

}

.weight-alert {
    width: 475px;
    height: fit-content;
    padding: 30px;
    border-radius: 24px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
}

.weight-alert-icon {
    margin-bottom: 40px;
}

.weight-alert-heading {
    text-align: center;
    font-size: 20px;
    margin-bottom: 15px;
}

.weight-alert-text {
    text-align: center;
    font-size: 16px;
    margin-bottom: 40px;
}

.weight-alert-button {
    font-size: 16px;
    background-color: black;
    color: white;
    width: 100%;
    height: 40px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.weight-alert-is-closed {
    display: none;
}

.today.disabled {
    opacity: 1;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

/* scroll bar */

::-webkit-scrollbar {
    width: 6px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 12px;
}

::-webkit-scrollbar-thumb {
    background: #E6E6E6;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #dadada;
}

@media (min-width: 1600px) {
    #getout_button{
        display: none;
    }
}

@media (max-width: 1600px) {
    .main_2{
        display: none;
    }
    .main_1{
        width: 1100px;
        padding: 50px 40px 10px 40px;
    }
    .getout_button{
        display: block;
    }
    .title-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .general_flex{
        justify-content: left;
        gap: 80px;
    }
    .goalWithCalendar{
        display: flex;
        align-items: center;
        justify-content: space-between;

    }
    #calendarNewVersion {
        width:390px;
        height: 330px;
        table-layout: fixed;
        line-height: 47px;
        font-size: 20px;
        text-align: center;
        border-spacing: 7px;
    }

    #calendarNewVersion tbody td {
        cursor: pointer;
    }

    #calendarNewVersion tr.dn td {
        font-size: 15px;
    }

    #calendarNewVersion thead tr:last-child {
        font-size: small;
        color: #555555;
    }

    #calendarNewVersion thead tr:nth-child(1) td:nth-child(2) {
        color: #323232;
    }

    #calendarNewVersion thead tr:nth-child(1) td:nth-child(1):hover,
    #calendarNewVersion thead tr:nth-child(1) td:nth-child(3):hover {
        cursor: pointer;
    }

    #calendarNewVersion tbody td {
        color: rgba(24, 23, 40, 1);
    }

    #calendarNewVersion tbody td:nth-child(n+6),
    #calendarNewVersion .holiday {
        color: rgba(24, 23, 40, 1);
    }

    #calendarNewVersion tbody td.today {
        background-color: rgba(158, 184, 72, 1);
        width: 45px;
        border-radius: 12px;
        color: #fff;
    }
    #calendarToggle {
        display: block;
        background: none;
        border: none;
        cursor: pointer;
    }
    #calendarToggle img {
        margin-top: 30px;
    }
    #newCalendar {
        display: none;
        position: absolute;
        top: 80px;
        right: 20px;
        z-index: 1000;
        background-color: #fcfcfc;
        border-radius: 16px;
    }
    .look-calendar {
        margin-top: 0;
    }

    #newCalendar.active {
        display: block;
    }
}



@media screen and (max-width: 1420px){
    .dish_image_container {
        min-width: 270px;
        width: 270px;
    }
}
@media (max-width: 1150px){
    .menu{
        display: none;
    }
    .position_menu{
        display: inline;
    }
    .general_flex{
        gap: 20px;
    }
    .dish{
        max-width: 100%;
        height: auto;
    }
    .main_1{
        max-height: calc(100dvh - 70px);
    }
    .position_menu {
        width: 100%;
        position: fixed;
        left: 0;
        bottom: 0;
    }
    .general_flex{
        justify-content: space-evenly;
    }
    .new_menu{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 20px;
        bottom: 0;
        background-color: white;
    }
}
@media (max-width: 950px) {
    .main_title {
        font-size: 32px;
    }
    .recipes-container {
        padding-right: 0;
    }
}

@media (max-width: 550px) {
    .new_menu img {
        width: 26px;
    }

    .dish_image_container {
        min-width: 200px;
        width: 200px;
    }

    .goal_text span {
        font-size: 20px;
    }
    .dish_name{
        font-size: 20px;
    }
    .look-calendar {
        width: 350px;
    }
    #calendarNewVersion {
        width:300px;
        height: 240px;
        line-height: 35px;
        font-size: 16px;
        border-spacing: 5px;
    }

    #calendarNewVersion tr.dn td {
        font-size: 15px;
    }
}

@media (max-width: 500px) {
    .main_1 {
        width: 100%;
        padding: 40px 30px 0;
    }
    .main_title {
        font-size: 20px;
    }
    .meal{
        font-size: 16px;
    }
    .main_goal{
        margin-top: 10px;
    }
    .main_goal img{
        height: 26px;
    }
    .goal_text span {
        font-size: 16px;
    }
    .goal_text {
        font-size: 16px;
    }
    .dish_name{
        font-size: 16px;
    }
    .client {
        gap: 10px;
        padding: 6px 15px 5px 20px;
    }

    .client img {
        width: 10px;
    }

    .name {
        font-size: 16px;
    }

    .edit_button_wrapper {
        width: 30px;
        height: 30px;
        border-radius: 10px;
    }
    .edit_button_wrapper img {
        width: 15px;
    }
    #calendarToggle img {
        width: 24px;
        margin-top: 10px;
    }
    .dish {
        height: 130px;
        margin-top: 20px;
    }
    .dish_info{
        height: auto;
    }
    .dish_image_container {
        height: 130px;
        min-width: 180px;
        width: 160px;
    }
    .callory_dish{
        font-size: 16px;
    }
    .look-calendar {
        width: 300px;
    }
    #calendarNewVersion {
        width:240px;
        height: 190px;
        line-height: 25px;
        font-size: 16px;
        border-spacing: 5px;
    }

    #calendarNewVersion tr.dn td {
        font-size: 15px;
    }
    .modal-item{
        font-size: 16px;
        padding: 10px 20px;
        width: 180px;
        text-align: center;
    }
    .weight-alert {
        width: 350px;
        padding: 30px;
    }
    .weight-alert-icon {
        margin-bottom: 20px;
    }
    .weight-alert-text {
        margin-bottom: 20px;
    }
    .weight-alert-heading{
        font-size: 16px;
    }
    .weight-alert-text {
        font-size: 14px;
    }
    .loadingBlock{
        height: 130px;
    }
}
@media (max-width: 400px) {
    .name{
        font-size: 12px;
        margin-right: 3px;
    }
    .client{
        gap: 5px;
        padding: 3px 10px 3px 20px;
        min-height: 40px;
    }
    .weight-alert {
        width: 300px;
        padding: 20px;
    }
    .modal-item{
        font-size: 12px;
        width: 150px
    }
}
@media (max-width: 375px) {
    .dish {
        height: fit-content;
        margin-top: 20px;
        gap: 20px
    }
    .dish_image_container {
        height: 120px;
        min-width: 140px;
        width: 140px;
    }
}


