*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    font-family: 'Montserrat', sans-serif;
}
.all{
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}
.general_flex{
    display: flex;
    justify-content: space-between;
}
.menu{
    width: 310px;
    background-color: #fcfcfc;
    padding: 50px 40px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu_flex{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 100px;
}
.flex_menu{
    display: flex;
    flex-direction: column;

}
.flex_menu_position{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.menu_title{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 15px;
}
.title{
    color: black;
    font-size: 20px;
    font-family: Inter, sans-serif;
    font-weight: 300;
    text-decoration: none;
}
.logo{
    text-decoration: none;
    text-align: left;
    color: rgba(158, 184, 72, 1);
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
}
.copyright{
    color: black;
    font-size: 16px;
    font-family: Inter, sans-serif;
    font-weight: 400;
}
.main_1{
    max-height: 97vh;
    width: 900px;
    padding: 50px 20px;
}
.main_title{
    color: black;
    font-size: 40px;
    font-family: Inter, sans-serif;
    font-weight: 900;
}
.main_goal{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 30px;
    margin-bottom: 5px;
}
.goal_text{
    color: black;
    font-size: 24px;
    font-family: Inter, sans-serif;
    font-weight: 400;
}
.goal_text span{
    color:  rgba(158, 184, 72, 1);
    font-size: 24px;
    font-family: Inter, sans-serif;
    font-weight: 600;
}
.main_2 {
    width: 470px;
    background-color: #fcfcfc;
    padding: 50px 20px;
}
.dish{
    cursor: pointer;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 30px;
    gap: 30px;
    max-width: 865px;
    border-radius: 24px;
    background-color: rgba(236, 248, 213, 1);
}


.dish:hover img {
    transform: scale(1.05);
}

.dish_info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 121px;
    justify-content: space-between;
    padding-right: 10px;
}

.dish_image_container {
    min-width: 308px;
    width: 308px;
    height: 151px;
    overflow: hidden;
    border-radius: 24px;
}

.dish_image {
    background-color: #B7C588;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 24px;
    transition: transform .2s ease;
}

.meal {
    color:  rgba(158, 184, 72, 1);
    font-size: 20px;
    font-family: Inter, sans-serif;
    font-weight: 600;
}
.dish_name{
    font-size: 24px;
    font-weight: 600;
}
.callory_dish{
    font-size: 20px;
    font-family: Inter, sans-serif;
    font-weight: 400;
}

.recipes-container {
    overflow: auto;
    height: calc(100vh - 200px);
    padding-right: 10px;
}

/* PROFILE MODAL */


.client_wrapper {
    position: relative;
}

.client {
    min-height: 47px;
    cursor: pointer;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-left: auto;
    gap: 20px;
    width: fit-content;
    border-radius: 24px;
    border: 1px solid rgb(245, 245, 245);
    padding: 11px 25px 10px 40px;
    position: relative;
    transition: border .2s ease;
}

.client:hover {
    border: 1px solid #e8e8e8;
}

.client.active {
    border: 1px solid #e8e8e8;
}

.client img {
    transition: transform .2s ease;
}

.client.active img {
    transform: rotate(180deg);
}

.name {
    margin-right: 10px;
}

.modal {
    position: absolute;
    top: 115%;
    right: 0;
    background: #fff;
    border: 1px solid #e8e8e8;
    border-radius: 24px;
    display: none;
    z-index: 10;
}

.modal.active {
    display: block;
}

.modal-menu {
    list-style: none;
    margin: 0;
}

.modal-item {
    border-radius: 24px;
    padding: 14px 30px;
    cursor: pointer;
    transition: background 0.2s ease;
    font-size: 18px;
    font-family: Inter, sans-serif;
    font-weight: 300;
}

.disabledItem {
    display: none;
}

.modal-item:hover {
    background: #f5f5f5;
}

.name {
    font-size: 20px;
    font-family: Inter, sans-serif;
    font-weight: 500;
}

.look-calendar {
    width: 426px;
    border-radius: 24px;
    border:1px solid rgb(245, 245, 245);
    padding: 20px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#calendar {
    width:390px;
    height: 330px;
    table-layout: fixed;
    line-height: 47px;
    font-size: 20px;
    text-align: center;
    border-spacing: 7px;
  }

#calendar tbody td {
    cursor: pointer;
}

#calendar tr.dn td {
    font-size: 15px;
  }

#calendar thead tr:last-child {
    font-size: small;
    color: #555555;
  }

#calendar thead tr:nth-child(1) td:nth-child(2) {
    color: #323232;
}

#calendar thead tr:nth-child(1) td:nth-child(1):hover,
#calendar thead tr:nth-child(1) td:nth-child(3):hover {
    cursor: pointer;
}

#calendar tbody td {
    color: rgba(24, 23, 40, 1);
  }

#calendar tbody td:nth-child(n+6),
#calendar .holiday {
    color: rgba(24, 23, 40, 1);
}

#calendar tbody td.today {
    background-color: rgba(158, 184, 72, 1);
    width: 45px;
    border-radius: 12px;
    color: #fff;
}
.getout_button{
    display: none;
}
.status-message {
    font-size: 18px;
    text-align: center;
    padding: 20px;
    color: #555;
}
.new_calendar{
    display: none;
}
/* scroll bar */

::-webkit-scrollbar {
    width: 6px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 12px;
}

::-webkit-scrollbar-thumb {
    background: #E6E6E6;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #dadada;
}
@media (max-width: 1600px){
    .main_2{
        display: none;
    }
    .getout_button{
        display: block;
    }
    .title_adaptive{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .general_flex{
        justify-content: left;
        gap: 80px;
    }

    .new_calendar{
        margin-top: 30px;
        display: inline;
    }
    .goalWithCalendar{
        display: flex;
        justify-content: left;
        gap: 500px;
    }
    .hidden {
        display: none;
    }
    #calendarToggle{
        outline: none;
        border: 0;
        background: transparent;
    }
    .calendar-wrapper {
        position: absolute;
        background: white;
        z-index: -10;
        padding: 10px;
        left: 750px;
    }

}
@media screen and (max-width: 1420px){
    .dish_image_container {
        min-width: 270px;
        width: 270px;
    }
}
@media (max-width: 1150px){
    .menu{
        display: none;
    }
    .general_flex{
        gap: 20px;
    }
    .main_1{
        max-height: calc(100vh - 70px);
    }
    .position_menu {
        width: 100%;
        position: fixed;
        left: 0;
        bottom: 0;
    }
    .general_flex{
        justify-content: space-evenly;
    }
    .new_menu{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 20px;
        bottom: 0;
        background-color: white;
    }
}

