*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    font-family: 'Inter', sans-serif;
}
.all{
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}
.general_flex{
    display: flex;
    justify-content: space-between;
}
.menu{
    width: 310px;
    background-color: #fcfcfc;
    padding: 50px 40px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu_flex{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 100px;
}
.flex_menu{
    display: flex;
    flex-direction: column;

}
.flex_menu_position{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.menu_title{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 15px;
}
.title{
    color: black;
    font-size: 20px;
    font-weight: 300;
    text-decoration: none;
}
.logo{
    text-decoration: none;
    text-align: left;
    color: rgba(158, 184, 72, 1);
    font-size: 30px;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}
.copyright{
    color: black;
    font-size: 16px;
    font-weight: 400;
}
.main_1{
    width: 1100px;
    padding: 50px 40px 10px 40px;
    max-height: 97vh;
}
.main_title{
    color: black;
    font-size: 40px;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
}
.receipe_menu{
    gap: 10px;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.receipe_menu_position {
    outline: 1px solid rgba(231, 231, 231, 1) ;
}

.receipe_menu_position,.receipe_menu_position_green {
    transition: background-color .1s ease;
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 230px;
    padding: 10px 20px;
    align-items: center;
    border-radius: 24px;

    text-decoration: none;
}
.receipe_menu_position_green{
    background-color: rgba(236, 248, 213, 1);
}
.receipe_menu_position_text{
    font-size: 18px;
    font-weight: 400;
    color: black;
}
.receipes{
    padding-right: 10px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 210px);
    justify-content: space-between;
    margin-top:40px ;
    overflow: auto;
    height: calc(100vh - 250px);
}
.receipe {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(244, 244, 244, 1) ;
    border-radius: 12px;
    text-decoration: none;
    gap: 15px;
}

.receipe:hover .img_dish {
    transform: scale(1.05);
}
.receipe_name{
    font-size: 20px;
    font-weight: 400;
    color: black;
    padding: 0 10px;
}
.receipe_cal{
    display: flex;
    justify-content: left;
    gap: 8px ;
    padding: 0 10px 20px;
}
.cal{
    font-size: 16px;
    font-weight: 400;
    color: black;
}

.img_dish_wrapper {
    width: 208px;
    height: 170px;
    border-radius: 12px;
    overflow: hidden;
}

.img_dish {
    background-color: #ECF8D5;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    object-fit: cover;
    transition: transform .2s ease;
}

.main_2{
    flex-shrink: 0;
    flex-grow: 1;
    max-width: 400px;
    background-color: #fcfcfc;
    padding: 50px 20px;
    height: 100vh;
}

.receipe_menu_position, .receipe_menu_position_green {
    cursor: pointer;
}

/* PROFILE MODAL */

.client_wrapper {
    position: relative;
}

.client {
    min-height: 47px;
    cursor: pointer;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-left: auto;
    gap: 20px;
    width: fit-content;
    border-radius: 24px;
    border: 1px solid rgb(245, 245, 245);
    padding: 11px 25px 10px 40px;
    position: relative;
    transition: border .2s ease;
}

.client:hover {
    border: 1px solid #e8e8e8;
}

.client.active {
    border: 1px solid #e8e8e8;
}

.client img {
    transition: transform .2s ease;
}

.client.active img {
    transform: rotate(180deg);
}

.name {
    margin-right: 10px;
}

.modal {
    position: absolute;
    top: 115%;
    right: 0;
    background: #fff;
    border: 1px solid #e8e8e8;
    border-radius: 24px;
    display: none;
    z-index: 10;
}

.modal.active {
    display: block;
}

.modal-menu {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.modal-item {
    border-radius: 24px;
    padding: 14px 30px;
    cursor: pointer;
    transition: background 0.2s ease;
    font-size: 18px;
    font-family: Inter, sans-serif;
    font-weight: 300;
    list-style-type: none;
    margin-top: 0;
}

.modal-item:hover {
    background: #f5f5f5;
}
.new_menu{
    display: none;
}
.name {
    font-size: 20px;
    font-family: Inter, sans-serif;
    font-weight: 500;
}
.getout_button{
    display: none;
}
@media (max-width: 1600px){
    .main_2{
        display: none;
    }
    .getout_button{
        display: block;
    }
    .title_adaptive{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .general_flex{
        justify-content: left;
        gap: 80px;
    }
}
@media (max-width: 1400px){
    .general_flex{
        gap: 20px;
    }
    .receipes{
        grid-template-columns: repeat(4, 180px);
    }
    .img_dish_wrapper {
        width: 178px;
        height: 150px;
    }
    .main_1{
        width: 100%;
    }
    .img_menu{
        display: none;
    }
    .receipe_menu_position{
        width: 200px;
    }
    .receipe_menu_position_green{
        width: 200px;
    }
}
@media (max-width: 1150px){
    .menu{
        display: none;
    }
    .general_flex{
        gap: 20px;
    }
    .receipes{
        grid-template-columns: repeat(4, 210px);
        height: calc(100vh - 300px);
    }
    .img_dish_wrapper {
        width: 208px;
        height: 170px;
    }
    .receipe_menu_position{
        width: 230px;
    }
    .receipe_menu_position_green{
        width: 230px;
    }
    .main_1{
        max-height: calc(100vh - 70px);
    }
    .position_menu {
        width: 100%;
        position: fixed;
        left: 0;
        bottom: 0;
    }
    .general_flex{
        justify-content: space-evenly;
    }
    .new_menu{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 20px;
        bottom: 0;
        background-color: white;
    }
    .img_menu{
        display: block;
    }
}

@media (max-width: 1050px){
    .receipe_menu_position_green,.receipe_menu_position {
        width: 200px;
        gap: 10px;
        padding: 10px;
    }
    .receipe_menu_position_text{
        font-size: 16px;
    }
    .img_dish_wrapper {
        width: 100%;
        height: 170px;
    }
}
@media (max-width: 950px){
    .receipes{
        grid-template-columns: repeat(3, 230px);
        margin-top: 25px;
    }
    .receipe{
        gap: 5px;
    }
    .img_menu{
        display: none;
    }
    .receipe_menu_position_text{
        font-size: 20px;
    }
    .receipe_menu_position_green,.receipe_menu_position {
        width: 180px;
    }
    .main_title{
        font-size: 32px;
    }
    .receipe_menu{
        margin-top: 30px;
    }
    .receipe_name, .cal{
        font-size: 24px;
    }
}
@media (max-width: 850px){
    .receipe_menu{
        display: grid;
        flex: none;
        grid-template-columns: repeat(4, 1fr);
    }
    .receipe_menu_position_text{
        display: none;
    }
    .img_menu{
        display: block;
    }
    .receipe_menu_position_green,.receipe_menu_position {
        width: 100%;
    }
    .receipes{
        grid-template-columns: repeat(3, 210px);
    }
}
@media (max-width: 780px) {
    .receipes {
        grid-template-columns: repeat(3, 180px);
    }
    .img_dish_wrapper{
        width: 178px;
        height: 150px;
    }
}
@media (max-width: 680px) {
    .receipes {
        grid-template-columns: repeat(2, 200px);
    }
    .img_dish_wrapper{
        width: 198px;
        height: 170px;
    }
}
@media (max-width: 550px) {
    .receipes {
        grid-template-columns: repeat(2, 160px);
        justify-content: center;
        height: calc(100vh - 260px);
    }
    .img_dish_wrapper{
        width: 158px;
        height: 110px;
    }
    .img_menu{
        width: 20px;
    }
    .receipe{
        gap: 10px;
    }
    .new_menu img{
        width: 26px;
    }
}
@media (max-width: 500px) {
    .main_title{
        font-size: 20px;
    }
    .main_1{
        width: 100%;
        padding: 40px 30px 0;
    }
    .receipes{
        padding-right: 3px;
        gap: 20px;
    }
    .client{
        gap: 10px;
        padding: 6px 15px 5px 20px;
    }
    .client img{
        width: 10px;
    }
    .name{
        font-size: 16px;
    }
    ::-webkit-scrollbar {
        width: 3px;
        height: 5px;
    }
    .modal-item{
        font-size: 12px;
        padding: 10px 20px;
    }
    .receipe_name, .cal{
        font-size: 16px;
    }
}
@media (max-width: 400px) {
    .receipes {
        grid-template-columns: repeat(2, 140px);
        height: calc(100vh - 240px);
    }
    .img_dish_wrapper{
        width: 138px;
        height: 100px;
    }
    .receipe_name{
        font-size: 16px;
    }
    .receipe_cal img{
        height: 16px;
    }
    .receipe_cal{
        padding: 0 10px 10px;
    }
    .cal{
        font-size: 16px;
    }
    /*.main_title{*/
    /*    font-size: 16px;*/
    /*}*/
    .name{
        font-size: 12px;
        margin-right: 3px;
    }
    .client{
        gap: 5px;
        padding: 3px 10px 3px 20px;
    }
    .receipe_menu{
        margin-top: 10px;
    }
    .img_menu{
        width: 17px;
    }

}



/* scroll bar */

::-webkit-scrollbar {
    width: 6px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 12px;
}

::-webkit-scrollbar-thumb {
    background: #E6E6E6;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #dadada;
}