*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    font-family: 'Inter', sans-serif;
}
.all{
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}
.general_flex{
    display: flex;
    justify-content: space-between;
}
.menu{
    width: 310px;
    background-color: #fcfcfc;
    padding: 50px 40px;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu_flex{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 100px;
}
.flex_menu{
    display: flex;
    flex-direction: column;

}
.flex_menu_position{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.menu_title{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 15px;
}
.title{
    color: black;
    font-size: 20px;
    font-weight: 300;
    text-decoration: none;
}
.logo{
    text-decoration: none;
    text-align: left;
    color: rgba(158, 184, 72, 1);
    font-size: 30px;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}
.copyright{
    color: black;
    font-size: 16px;
    font-weight: 400;
}
.main_1{
    width: 820px;
    padding: 50px 10px 10px 30px;
    max-height: 100dvh;
}
.main_title{
    color: black;
    font-size: 40px;
    font-family: Inter, sans-serif;
    font-weight: 900;
}
.main_2{
    width: 500px;
    background-color: #ffffff;
    padding: 50px 20px;
    height: 100dvh;
}
/* PROFILE MODAL */

.client_wrapper {
    position: relative;
}

.client {
    min-height: 47px;
    cursor: pointer;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-left: auto;
    gap: 20px;
    width: fit-content;
    border-radius: 24px;
    border: 1px solid rgb(245, 245, 245);
    padding: 11px 25px 10px 40px;
    position: relative;
    transition: border .2s ease;
}

.client:hover {
    border: 1px solid #e8e8e8;
}

.client.active {
    border: 1px solid #e8e8e8;
}

.client img {
    transition: transform .2s ease;
}

.client.active img {
    transform: rotate(180deg);
}

.name {
    margin-right: 10px;
}

.modal {
    position: absolute;
    top: 115%;
    right: 0;
    background: #fff;
    border: 1px solid #e8e8e8;
    border-radius: 24px;
    display: none;
    z-index: 10;
}

.modal.active {
    display: block;
}

.modal-menu {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.modal-item {
    border-radius: 24px;
    padding: 14px 30px;
    cursor: pointer;
    transition: background 0.2s ease;
    font-size: 18px;
    font-family: Inter, sans-serif;
    font-weight: 300;
    list-style-type: none;
    margin-top: 0;
}

.modal-item:hover {
    background: #f5f5f5;
}

.name {
    font-size: 20px;
    font-family: Inter, sans-serif;
    font-weight: 500;
}

.recipe_wrapper {
    padding-right: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 94%;
}

.recipe_img_wrapper {
    height: 420px;
    width: 750px;
    border-radius: 12px;
    margin-top: 30px;

}

.recipe_img_wrapper .img_receipe{
    border-radius: 12px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.step{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
}

.steps{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 20px;
}

.step_counter {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    width: 50px;
    color: #9EB848;
    background-color: #ECF8D5;
    aspect-ratio: 1 / 1;
    font-size: 24px;
    font-weight: 600;
    padding-right: 1px;
}

.step_text{
    font-size: 24px;
    font-weight: 200;
}
.step_receipe{
    font-size: 32px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 10px;
}
.ingredients{
    border:1px solid rgb(245, 245, 245);
    border-radius: 24px;
    padding:  20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.ingredient_positions{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.position{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.quantity{
    font-size: 20px;
    font-weight: 400;
    color: rgba(158, 184, 72, 1);
}
.position_name{
    font-size: 20px;
    font-weight: 200;
}
.ingredient_title{
    font-size: 32px;
    font-weight: 600;
}
.nutrient_cal{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.nutrient{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nutrient_composition{
    border:1px solid rgb(245, 245, 245);
    border-radius: 24px;
    padding:  20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.nutrient_title{
    font-size: 24px;
    font-weight: 600;
}
.cal{
    font-size: 24px;
    font-weight: 400;
    color: rgba(158, 184, 72, 1)
}
.nutrient_flex{
    display: flex;
    justify-content: space-between;
}
.flex_nutrient_position{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.number{
    font-size: 24px;
    font-weight: 600;
}
.nutrient_name{
    font-size: 16px;
    font-weight: 400;
    color: rgba(136, 136, 136, 1);
}
.new_menu{
    display: none;
}
.getout_button{
    display: none;
}
.ingredientsAndNutrient{
    display: none
}

/* scroll bar */

::-webkit-scrollbar {
    width: 6px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 12px;
}

::-webkit-scrollbar-thumb {
    background: #E6E6E6;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #dadada;
}

/* additional classes */

.step_hidden {
    display: none;
}
@media (max-width: 1600px){
    .main_2{
        display: none;
    }
    .getout_button{
        display: block;
    }
    .title_adaptive{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .general_flex{
        justify-content: left;
        gap: 80px;
    }
    .main_1{
        max-height: 100dvh;
        width: 1100px;
        padding: 50px 40px 10px 40px;
    }
    .general_flex{
        justify-content: left;
        gap: 80px;
    }
    .ingredientsAndNutrient{
        display: inline;
    }
    .recipe_img_wrapper {
        width: 100%;
        max-width: 100%;
        height: auto;
        border-radius: 12px;
        overflow: hidden;
    }

    .recipe_img_wrapper .img_receipe {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 12px;
        display: block;
    }

}
@media (max-width: 1150px){
    .menu{
        display: none;
    }
    .recipe_wrapper{
        height: calc(100dvh - 200px);
    }
    .new_menu{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 20px;
        bottom: 0;
        background-color: white;
    }
    .nutrient_title{
        font-size: 32px;
    }
    .position_menu {
        width: 100%;
        position: fixed;
        left: 0;
        bottom: 0;
    }

}
@media (max-width: 950px) {
    .main_title {
        font-size: 32px;
    }
    .ingredient_title{
        font-size: 24px;
    }
    .step_receipe{
        font-size: 24px;
    }
    .step_text{
        font-size: 20px;
    }
}
@media (max-width: 550px) {
    .new_menu img{
        width: 26px;
    }
}
@media (max-width: 500px){
    .main_1{
        width: 100%;
        padding: 40px 30px 0;
    }
    .main_title{
        font-size: 20px;
    }
    .ingredient_title{
        font-size: 20px;
    }
    .step_receipe{
        font-size: 20px;
    }
    .step_text{
        font-size: 16px;
    }
    .nutrient_title{
        font-size: 20px;
    }
    .cal {
        font-size: 16px;
        text-align: end;
        width: 40px;
    }
    .quantity{
        font-size: 16px;
    }
    .number{
        font-size: 16px;
    }
    .client{
        gap: 10px;
        padding: 6px 15px 5px 20px;
    }
    .client img{
        width: 10px;
    }
    .name{
        font-size: 16px;
    }
    li{
        font-size: 16px;
    }
    .modal-item{
         font-size: 16px;
         padding: 10px 20px;
         width: 180px;
         text-align: center;
    }
    .recipe_wrapper{
        height: 84%;
    }
    .position_name{
        font-size: 16px;
    }
    .ingredient_positions{
        gap:10px;
    }
}
@media (max-width: 400px){
    img{
        width: 25px;
    }
    .name{
        font-size: 12px;
        margin-right: 3px;
    }
    .client{
        gap: 5px;
        padding: 3px 10px 3px 20px;
        min-height: 40px;
    }
    .modal-item{
        font-size: 12px;
        width: 150px
    }
}